* {
  margin: 0;
  padding: 0;
}

.section {
  width: 100%;
  height: 900px;
  padding: 0 20px;
  margin-top: -0.2em;
}
.section .anchor {
  position: relative;
  top: -81px;
  display: block;
}
.section iframe {
  padding: 0 20px;
}

.recent li span {
  color: silver;
  font-size: 12px;
}

.showcase {
  background-image: url(../images/bg.jpg);
}
.showcase .snapshot {
  width: 80%;
  margin: auto;
}
.showcase .snapshot .image {
  height: 400px;
  overflow: auto;
}
.showcase .snapshot .name {
  color: white;
  text-align: center;
  padding: 5px;
}

.contact-me {
  background-color: #a5bfdd;
}
.contact-me h1 {
  color: #211608;
}

.skills {
  background-image: url(../images/neo.jpg);
  background-size: 100% 100%;
}

#header {
  height: 80px;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  background: #fff;
  border-bottom: 1px solid #ddd;
}
#header .indicator {
  border-bottom: 2px solid green;
  position: relative;
}

.header-placeholder {
  height: 81px;
}

.logo {
  float: left;
}

.menu {
  padding: 10px 0;
  float: right;
}

.menu a {
  text-decoration: none;
  -webkit-transition: background 0.25s linear;
  -moz-transition: background 0.25s linear;
  transition: background 0.25s linear;
  margin: 0 8px;
  line-height: 55px;
}

.menu a:hover {
  color: #4cc2e4;
}

.menu-dropdown {
  display: none;
  position: absolute;
  right: 16px;
  top: 32px;
  width: 40%;
}

.menu-dropdown select {
  width: 100%;
}

g.node a {
  white-space: nowrap;
  transform: scale(0.5);
}
g.node rect {
  fill: red;
  fill-opacity: 0;
  radius: 5;
}
g.node circle, g.node ellipse {
  stroke: green;
  fill: white;
  fill-opacity: 0.7;
}
g.node text, g.node tspan {
  font-size: 12px;
  fill: #4cc2e4;
}
g.node.real * {
  cursor: pointer;
}
g.node.real tspan {
  fill: blue;
}
g.node.skill circle {
  fill: orange;
  fill-opacity: 0.3;
}
g.node.skill text {
  fill: orange;
}
g.node.subskill text {
  fill: yellow;
}
g.node.showcase circle {
  fill: silver;
}
g.node.hl text {
  fill: white;
}
g.node.hl rect {
  fill-opacity: 1;
}

line.link {
  stroke: silver;
  opacity: 0.5;
}
line.link.showcase {
  stroke: gray;
}
line.link.skill {
  stroke: orange;
}
line.link.subskill {
  fill: yellow;
}
line.link.combine {
  stroke: green;
}

.fa-envelope-o {
  transform: scale(0.8);
}

.at .fa-circle-o {
  transform: scale(0.7);
}

.odesk.fa-stack {
  width: 1.2857142857142858em;
  height: 1em;
  line-height: 1;
  vertical-align: baseline;
}
.odesk.fa-stack .fa-square {
  color: #35b137;
}
.odesk.fa-stack .fa-circle-o {
  font-size: 0.1em;
  top: 6px;
}
.odesk.fa-stack .fa-circle {
  font-size: 0.3em;
  top: 16px;
  overflow: hidden;
  clip: rect(0px, 100px, 5px, 0px);
}

@media all and (max-width: 720px) {
  .menu {
    display: none;
  }

  .menu-dropdown {
    display: block;
    top: 20px;
  }
}
